# Dependencies
node_modules

# Next.js build output
.next
out

# Docker
Dockerfile
docker-compose.yml

# Git
.git
.gitignore

# Environment variables
.env*
!/.env.example

# Other
npm-debug.log
README.md